$sourcesColor: darkblue;
.sources {
    a {
        color:$sourcesColor;
    }
    color:$sourcesColor;
}
h1,h2,h3 {
    display:block;
    text-align:center;
}
.vdp-datepicker,#datepicker {
    display:inline;
    div {
        text-align:center;
    }
    text-align:center;
}